@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div>
    <div class="myCard">
        <div class="row">
            <div class="col-md-6">
                <div class="myLeftCtn">
                    <form class="myForm text-center" id="account" method="post">
                        <header>log in</header>

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            
                            <input asp-for="Input.Email" class="myInput" placeholder=" Email" type="text" id="email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">

                            
                            <input asp-for="Input.Password" class="myInput" type="password" id="password" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>

                        <div>
                            @*<input type="submit" class="butt" value="CREATE ACCOUNT">*@
                            <button type="submit" class="butt">Log in</button>
                        </div>
                        @*<button type="submit" class="butt">Register</button>*@
                        <div class="form-group">
                          
                           <p>

                           </p>
                            <p>
                                <button class="butt" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</button>
                            </p>
                             <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            @*<p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>*@
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <section class="myRightCtn">
                    <div class="box">
                        <h4 class="text-dark">Use another service to log in.</h4>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                               
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="butt_out" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }


                    </div>
                </section>
            </div>
            @* <div class="col-md-6">
            <div class="myRightCtn">

                    <header>Hello World!</header>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                    <input type="button" class="butt_out" value="Learn More" />


            </div>
        </div>*@
        </div>
    </div>
</div>
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

