@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div>
    <div class="myCard">
        <div class="row">
            <div class="col-md-6">
                <div class="myLeftCtn">
                    <form class="myForm text-center" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <header>Create new account</header>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">


                            <input asp-for="Input.FirstName" class="myInput" type="text" id="password" placeholder=" First Name" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">


                            <input asp-for="Input.LastName" class="myInput" type="text" id="password" placeholder=" Last Name" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">


                            <input asp-for="Input.Email" class="myInput" placeholder=" Email" type="text" id="email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <i class="fas fa-lock"></i>
                            <input asp-for="Input.Password" class="myInput" type="password" id="password" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-lock"></i>
                            <input asp-for="Input.ConfirmPassword" class="myInput" type="password" id="password" placeholder="ConfirmPassword" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        @*<input type="submit" class="butt" value="CREATE ACCOUNT">*@
                        <button type="submit" class="butt">Register</button>

                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="myRightCtn">
                    <div class="box">
                        <header>Hello World!</header>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam.
                        </p>
                        <input type="button" class="butt_out" value="Learn More" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-md-offset-2">
    <section>

        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {

            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
