@model IEnumerable<ReserveStudent.Models.Reservation>

@{
    ViewData["Title"] = "StudentReservations";
}

<h1>Student Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary" id="btncrt"> Create New</a>
</p>
<table class="table  table-dark table-hover ">
    <thead class="table-primary ">
        <tr>
            <th class=" bg-primary d-none" >
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="bg-primary d-none">
                @Html.DisplayNameFor(model => model.RequestingStudentId)
            </th>
            <th class=" bg-primary d-none">
                @Html.DisplayNameFor(model => model.ReservationTypeId)
            </th>
            <th class=" bg-primary">
                @Html.DisplayNameFor(model => model.ReservationType.NameType)
            </th>
            <th class="bg-primary">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="bg-primary">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="bg-primary"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="d-none">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="d-none">
                @Html.DisplayFor(modelItem => item.RequestingStudentId)
            </td>
            <td class=" d-none">
                @Html.DisplayFor(modelItem => item.ReservationTypeId)
            </td>
           <td>
            @Html.DisplayFor(modelItem => item.ReservationType.NameType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>

                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
